body {
    margin: auto 125px;
    font-family: "Nunito Sans", sans-serif;
}

.guide-box {
    border: 2px solid gray;
    margin: 10px auto;
    padding: 10px;
}

.blue, .pink, .mint-green, .beige {
    display: inline-block;
    color: black;
    text-align: center;
    width: 32%;
    min-height: 100px;
    margin: 20px auto;
    
}

.blue {
    background-color: #2d5dcc;
    border: 1px solid #2d5dcc;
    color: white;
}

.pink {
    background-color: #d957d9;
    border: 1px solid #d957d9;
}

.mint-green {
    background-color: #4fe0b0;
    border: 1px solid #4fe0b0;
}

.beige {
    background-color: #efd9ca;
    border: 1px solid #efd9ca;
}

.font1, .font2, .font3 {
    display: inline-block;
    margin: auto 10px;
}

.font1 {
    font-family: "Source Code Pro", monospace;
}

.font2 {
    font-family: "Nunito Sans", sans-serif;
}

.font3 {
    font-family: "Poppins", sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.fontname {
    text-decoration: underline;
    font-weight: 400;
    font-size: 20px;
}

.textstyle-heading {
    font-weight: 700;
    font-size: 26px;
    font-family: "Nunito Sans", sans-serif;
}

.textstyle-sub {
    font-weight: 500;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.textstyle-p {
    font-weight: 400;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}